<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>
<h3>Login</h3>
{{form_start(form, {'action':'', 'method':'POST'})}} {{form_end(form)}}
<a href="{{ path('gestor_projectes_backend_registrar_usuario') }}">Registrat</a>
</body>
</html>