<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>

<ul>
    {% for item in tasques %}
        <li>
        <p> {{ item.nom  }}</p>
        <p> {{ item.descripcio }}</p>
        </li>
     {% endfor %}
</ul>
</body>
</html>